[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = ">=14.05.14"
six = ">=1.10"
python_dateutil = ">=2.5.3"
setuptools = ">=21.0.0"
urllib3 = ">=1.15.1"
requests = "*"
flask = "*"
geopy = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
